{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Página Inicial {% endblock %}

{% block main %}
<div class="container bg_container" xmlns="http://www.w3.org/1999/html">
 <div class="container">
<div class="row">
    <div class="col-md-12">
        <h2>{{ filme.titulo}}</h2>
      <div class="row">
          <div class="col-md-9">
              <p>
                  <strong>Ano: </strong>{{filme.ano}} <br />
                  <strong>Cronologia: </strong> {{filme.ordem}}º Filme da franquia <br />
                  <strong>Bilheteria: </strong> U$$ {{filme.bilheteria}} <br />
                  <strong>Duração: </strong> U$$ {{ filme.duracao }}
               </p>
              {% if musicas %}
              <h4>Trilha Sonora</h4>
              {% for m in musicas  %}
              <div>
                  {{ m.nome }} ({{ m.autor }}) &nbsp;<br />
                   <a href="{{ m.link}}">Ouvir no spotify</a>

              </div>
              {% endfor%}
              {% endif %}
          </div>

          <div class="col-md-3"><img src="{{ filme.capa.url }}" class="capa_filme"/>
&nbsp;
          </div>
</div>
    </div>

</div>
    <div class="row">
            <h3>Trailer</h3>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ filme.trailer}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        </div>
    </div>

  </div>

    </div>


{% endblock %}
