<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body style="height:100% !important; background-image: url('{% static 'capa_home.jpg' %}'); background-size:cover">


<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
    </div>
  </div>
  <div class="navbar navbar-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
        <h1 class="logo">Star Wars Universe<h1>
      </a>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'list_filmes' %}">Filmes</a>
        <a class="nav-link" href="{% url 'add_filme' %}">Cadastrar Filmes</a>
    </nav>
    </div>
  </div>
</header>
 <div class="container">
 {% block main %}

{% endblock %}

 </div>

</body>
</html>